.myBg {
    background-image: url("../assets/img/bg.png");
    height: 80vh;
    padding-bottom: 0;
}
.car {
    position: absolute;
    right: 0;
    margin-top: -50px;
    width: 50%;

}
.btn-cm{
    background-color: limegreen;
}
.myIntro {
    padding-top: 100px;
    padding-left: 50px;
}
.myServ {
    padding-top: 100px;
}
.lgserv {
    border-color: transparent;
}
.why {
    padding-top: 100px;
}

.ptprofil{
    margin-top: 40px;
    margin-left: 30%;



}
.rate{
    margin-left: -100px;
    padding-right: 40px;
}
.carow {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #F1F3FF;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: -50px;
}
.review{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    
}
.star{
    margin-top: 50px;
    margin-left: -190px;
    width: 16px;
    height: 16px;
}
.name{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 80px;
}
.hTesti{
    margin-top: 50px;
    text-align: center;
    line-height: 20px;
}
.hTesti h3{
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;   
}