.myBg {
    background-image: url("../assets/img/bg.png");
    height: 80vh;
    padding-bottom: 0;
}
.navBar {
    background-color: #F1F3FF;

}
.car {
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 50%;

}
.btn-cm{
    background-color: limegreen;
}
.myIntro {
    padding-top: 100px;
    padding-left: 50px;
}
.myServ {
    padding-top: 100px;
}
.lgserv {
    border-color: transparent;
}
.why {
    padding-top: 100px;
}

.ptprofil{
    margin-top: 40px;
    margin-left: 10%;



}
.rate{
    margin-left: -200px;
    padding-right: 40px;
}
.carow {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F1F3FF;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: -50px;
}
.review{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    
}
.star{
    margin-top: 50px;
    margin-left: -190px;
    width: 16px;
    height: 16px;
}
.name{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 80px;
}
.hTesti{
    margin-top: 100px;
    text-align: center;
    line-height: 20px;
}
.hTesti h3{
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;   
}

.jumbotron {
    background: #0D28A6;
    margin-top: 180px;
    padding: 100px;
    text-align: center;
    padding-top: 100px;
    line-height: 20px;
    color: white;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 30px;
}
.jumbotron .btn-cm{
    width: 200px;
    margin-left: 38%;
    margin-top: 30px;
}
.faq {
    padding-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}
.footer{
    padding-top: 100px;
}